<br>
<div class="container">


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add New Customer    
  </button>

 

</div>   
    <div class="container">
        <br/>
<table class="table table-striped table-bordered" *ngIf='response.length > 0'>
    <thead>
      <tr>        
        <th scope="col">CustomerId</th>
        <th scope="col">CustomerName</th>
        <th scope="col">Authorize</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody *ngFor = 'let item of response;let i = index '>
      <tr>
        
        <td>{{item.customerId}}</td>
        <td>{{item.customerName}}</td>
        <th (click)="authorize(item.customerId)">Authorize</th>
        <td>
          <i class="fa fa-trash" (click)="deleteCustomer(item.customerId)" aria-hidden="true"></i>
          <i style='font-size:24px' style="margin-left:10px" class='fas'>&#xf044;</i>
          
        </td>


      </tr>
    </tbody>
  </table>
</div>


<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Customer</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table>
                
                    <tr  >
                        <td>
                            <label for="name" class="form-control">
                                Customer Id 
                            </label>
                        </td>
                        <td ><input type="text" class="form-control"  style="margin-left: 10px;" 
                             id="customerId" 
                             [(ngModel)]="body.customerId"
                             
                             />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="customerName" class="form-control">
                                Customer Name
                            </label>
                        </td>
                        <td ><input type="text" class="form-control"  style="margin-left: 10px;" 
                          id="customerName" 
                          [(ngModel)]="body.customerName"
                          
                          />
                     </td>
                    </tr>
                   
                   
        
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"
          (click)="saveCustomer()"
          >Save changes</button>
        </div>
      </div>
    </div>
  </div>